<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.health.READ_STEPS" />

    <queries>
        <package android:name="com.google.android.apps.healthdata" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Habitschool">

        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />

        <activity
            android:name=".HabitschoolLauncherActivity"
            android:exported="true"
            android:theme="@style/Theme.Habitschool">

            <meta-data
                android:name="android.support.customtabs.trusted.DEFAULT_URL"
                android:value="https://habitschool.web.app/" />

            <meta-data
                android:name="android.support.customtabs.trusted.METADATA_SHARE_TARGET"
                android:resource="@string/twa_share_target" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="habitschool.web.app"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HealthConnectPermissionActivity"
            android:exported="false"
            android:label="@string/native_health_title"
            android:theme="@style/Theme.Habitschool" />

        <activity
            android:name=".NativeEntryActivity"
            android:exported="true"
            android:theme="@style/Theme.Habitschool.TransparentLauncher">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="habitschool"
                    android:host="health-connect"
                    android:path="/sync" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PermissionsRationaleActivity"
            android:exported="true"
            android:label="@string/native_health_privacy_title"
            android:theme="@style/Theme.Habitschool">
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".ViewPermissionUsageActivity"
            android:exported="true"
            android:permission="android.permission.START_VIEW_PERMISSION_USAGE"
            android:targetActivity=".PermissionsRationaleActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
                <category android:name="android.intent.category.HEALTH_PERMISSIONS" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".OnboardingActivity"
            android:exported="true"
            android:label="@string/native_health_onboarding_title"
            android:permission="com.google.android.apps.healthdata.permission.START_ONBOARDING"
            android:theme="@style/Theme.Habitschool">
            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_ONBOARDING" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".UAndAboveOnboardingActivity"
            android:exported="true"
            android:permission="android.permission.health.START_ONBOARDING"
            android:targetActivity=".OnboardingActivity">
            <intent-filter>
                <action android:name="android.health.connect.action.SHOW_ONBOARDING" />
            </intent-filter>
        </activity-alias>

        <service
            android:name="com.google.androidbrowserhelper.trusted.DelegationService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.support.customtabs.trusted.TRUSTED_WEB_ACTIVITY_SERVICE" />
            </intent-filter>
        </service>

        <activity
            android:name="com.google.androidbrowserhelper.trusted.WebViewFallbackActivity"
            android:exported="false" />

        <receiver
            android:name=".widget.HabitschoolWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/habitschool_widget_info" />
        </receiver>

        <service
            android:name=".widget.HabitschoolTileService"
            android:exported="true"
            android:icon="@drawable/ic_tile_health"
            android:label="@string/tile_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>

</manifest>
